.bg-custom-gray{
	background-color: lightgray;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: lightblue;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

img.ctnt:hover {
	box-shadow: 0 0 0 1px lightblue;
}

.col-lg {
	background-color: whitesmoke;
}